@model IEnumerable<Review>

@{
    ViewBag.Title = "Customer Reviews";
}

<h2>Customer Reviews</h2>

@if (Model.Count() is 0)
{
    <p class="text-danger fst-italic">You have no reviews yet</p>
}
else
{
    <table class="table table-bordered table-hoover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Gender.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => review.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => review.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => review.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => review.Gender.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="text-danger fw-bold">Total reviews : @Model.Count()</p>
}

<br />
<hr />
<a asp-action="Details" asp-controller="Sneaker" class="btn btn-outline-primary">Back</a>